slurm_batch_files/**/*.out
slurm_batch_files/**/ckpts/*
nbs/assets
wandb/
multirun/
data/untarred/*
data/*
!data/tars/
.ipynb_checkpoints/
.vscode/
lightning_logs/
tb_logs/
umtra/
cactus-protonets/
__pycache__/
.DS_Store
/.idea/
